# Automated Feature Engineering

Automated feature engineering is a process of generating thousands of features from multiple tables.

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import featuretools as ft 

%matplotlib inline

plt.style.use('fivethirtyeight')

In [10]:
clients = pd.read_csv("clients.csv")
loans = pd.read_csv("loans.csv")
payments = pd.read_csv("payments.csv")

### Defining the Entities (Tables)

In [19]:
es = ft.EntitySet(id = 'clients')

# Create an entity from client dataframe
es = es.entity_from_dataframe(entity_id = "clients", 
                         dataframe = clients, 
                         index = "client_id", 
                         time_index = "joined")

# Create an entity from loans dataframe 
es = es.entity_from_dataframe(entity_id = "loans", 
                         dataframe = loans, 
                        variable_types = {'repaid': ft.variable_types.Categorical},
                         index = "loan_id", 
                         time_index = "loan_start")

es = es.entity_from_dataframe(entity_id = "payments", 
                         dataframe = payments, 
                         variable_types = {'missed': ft.variable_types.Categorical},
                         index = "payment_id", 
                         time_index = "payment_date")

2019-01-04 14:40:49,401 featuretools.entityset - WARNING    index payment_id not found in dataframe, creating new integer column

### Defining the Relationships

In [23]:
## Creating the relationship between clients and previous loans 
r_client_previous = ft.Relationship(es['clients']['client_id'],
                                   es['loans']['client_id'])

## Add relationship to entity set
es = es.add_relationship(r_client_previous)

## Relationship between previous loans and previous payments 
r_payments = ft.Relationship(es['loans']['loan_id'],
                            es['payments']['loan_id'])

es = es.add_relationship(r_payments)

2019-01-04 14:44:20,475 featuretools.entityset - WARNING    Not adding duplicate relationship: <Relationship: loans.client_id -> clients.client_id>

### Feature Primitives

In [27]:
primitives = ft.list_primitives()
primitives[primitives['type'] == 'aggregation'].head(10)

,name,type,description
0,count,aggregation,Counts the number of non null values.
1,std,aggregation,Finds the standard deviation of a numeric feat...
2,all,aggregation,Test if all values are 'True'.
3,last,aggregation,Returns the last value.
4,n_most_common,aggregation,Finds the N most common elements in a categori...
5,min,aggregation,Finds the minimum non-null value of a numeric ...
6,trend,aggregation,Calculates the slope of the linear trend of va...
7,max,aggregation,Finds the maximum non-null value of a numeric ...
8,skew,aggregation,Computes the skewness of a data set.
9,median,aggregation,Finds the median value of any feature with wel...

In [28]:
primitives[primitives['type'] == 'transform'].head(10)

        name       type                                        description
19       and  transform  For two boolean values, determine if both valu...
20   cum_sum  transform  Calculates the sum of previous values of an in...
21  numwords  transform  Returns the words in a given string by countin...
22  subtract  transform  Creates a transform feature that subtracts two...
23    divide  transform  Creates a transform feature that divides two f...
24   cum_min  transform  Calculates the min of previous values of an in...
25   is_null  transform  For each value of base feature, return 'True' ...
26     month  transform       Transform a Datetime feature into the month.
27  multiply  transform  Creates a transform feature that multplies two...
28    second  transform      Transform a Datetime feature into the second.

In [29]:
# Create new features using primitives 
features, feature_names = ft.dfs(entityset = es, target_entity = 'clients',
                                agg_primitives = ['mean','max','percent_true','last'],
                                trans_primitives = ['years','month','subtract','divide'])

In [31]:
pd.DataFrame(features)

,income,credit_score,MEAN(loans.loan_amount),LAST(payments.payment_amount),LAST(loans.rate),LAST(loans.loan_amount),MEAN(payments.payment_amount),MAX(loans.loan_amount),MAX(payments.payment_amount),MONTH(joined),...,MEAN(payments.payment_amount) / income - credit_score,MAX(payments.payment_amount) - income,credit_score / MEAN(payments.payment_amount),MEAN(loans.rate) - LAST(payments.payment_amount),MAX(loans.loan_amount) / MEAN(loans.loan_amount),MAX(payments.payment_amount) - MEAN(payments.payment_amount),income - credit_score / MAX(payments.payment_amount),income - credit_score / MEAN(payments.payment_amount),MEAN(loans.MEAN(payments.payment_amount)),MAX(loans.rate) - MEAN(loans.rate)
client_id,,,,,,,,,,,,,,,,,,,,,
25707,211422,621,7963.950000,241,7.40,2203,1178.552795,13913,2704,10,...,0.005591,-208718,0.526917,-237.523000,1.746997,1525.447205,77.958950,178.864282,1175.760996,5.963000
26326,227920,633,7270.062500,932,1.45,5275,1166.736842,13464,2658,5,...,0.005133,-225262,0.542539,-929.482500,1.851979,1491.263158,85.510534,194.805711,1161.691608,4.212500
26695,174532,680,7824.722222,2084,0.90,13918,1207.433824,14865,2932,8,...,0.006945,-171600,0.563178,-2081.533889,1.899748,1724.566176,59.294679,143.984703,1221.200615,4.043889
26945,214516,806,7125.933333,1597,2.86,9249,1109.473214,14593,2768,11,...,0.005191,-211748,0.726471,-1594.144667,2.047872,1658.526786,77.207370,192.622947,1115.150112,2.794667
29841,38354,523,9813.000000,800,5.09,7223,1439.433333,14837,2898,8,...,0.038049,-35456,0.363337,-796.555000,1.511974,1458.566667,13.054175,26.281870,1455.233737,3.315000
32726,235705,730,6633.263158,1013,2.83,5325,944.298013,14802,2695,5,...,0.004019,-233010,0.773061,-1009.941053,2.231481,1750.701987,87.189239,248.835639,1014.163680,6.041053
32885,58955,642,9920.400000,1909,9.11,11886,1396.495652,14162,2422,5,...,0.023948,-56533,0.459722,-1906.564000,1.427563,1025.504348,24.076383,41.756664,1438.236984,6.674000
32961,230341,714,7882.235294,223,1.46,1693,1039.053435,14784,2791,4,...,0.004525,-227550,0.687164,-219.069412,1.875610,1751.946565,82.274095,220.996334,1155.584111,5.209412
35089,131176,771,6939.200000,106,7.63,773,1094.748428,13194,2563,3,...,0.008395,-128613,0.704271,-102.486500,1.901372,1468.251572,50.879828,119.118691,1051.937989,4.116500
35214,95849,696,7173.555556,1615,1.40,9389,1076.987952,14767,2874,8,...,0.011318,-92975,0.646247,-1611.891667,2.058533,1797.012048,33.108212,88.351035,1085.168400,5.331667
38537,127183,643,8986.352941,1615,0.64,8797,1340.682927,14804,2889,10,...,0.010595,-124294,0.479606,-1612.610588,1.647387,1548.317073,43.800623,94.384733,1368.381559,5.620588
39384,191204,617,7865.473684,2045,2.26,14654,1193.630137,14654,2822,6,...,0.006263,-188382,0.516911,-2041.461579,1.863079,1628.369863,67.536145,159.670064,1194.628227,5.691579
39505,153873,610,7424.050000,1072,0.25,9600,1162.026490,14575,2764,10,...,0.007582,-151109,0.524945,-1068.809500,1.963214,1601.973510,55.449711,131.892862,1109.334182,6.719500
41472,152214,638,7510.812500,1453,1.03,10122,1129.076190,13657,2436,11,...,0.007449,-149778,0.565064,-1449.018750,1.818312,1306.923810,62.223317,134.247805,1133.414162,5.838750
41480,122607,585,7894.850000,2115,6.48,11154,1246.509934,14399,2719,3,...,0.010215,-119888,0.469310,-2111.889500,1.823847,1472.490066,44.877529,97.890917,1271.415709,7.379500
42320,229481,563,7062.066667,1082,3.18,8090,1021.483333,13887,2769,4,...,0.004462,-226712,0.551159,-1079.542667,1.966422,1747.516667,82.671723,224.103510,1042.907672,4.282667
44387,151903,781,7387.733333,736,4.10,7279,1055.752294,14900,2915,7,...,0.006986,-148988,0.739757,-733.193333,2.016857,1859.247706,51.842882,143.141531,1060.088303,3.163333
44601,156341,518,6869.250000,1011,2.76,6129,1087.762821,14104,2659,10,...,0.006981,-153682,0.476207,-1006.849000,2.053208,1571.237179,58.602106,143.250897,1023.402440,5.069000
46109,172677,527,8951.600000,1827,2.82,10853,1375.560284,14049,2735,4,...,0.007990,-169942,0.383117,-1823.847500,1.569440,1359.439716,62.943327,125.149004,1422.461290,6.327500
46180,43851,562,7700.850000,697,1.38,3834,1186.550336,14081,2660,11,...,0.027410,-41191,0.473642,-693.497500,1.828499,1473.449664,16.274060,36.483071,1163.803383,5.757500
46958,225709,644,9378.384615,1451,0.32,8308,1346.413043,14942,2986,7,...,0.005982,-222723,0.478308,-1447.846154,1.593238,1639.586957,75.373409,167.158957,1362.412210,3.016154
48177,190632,769,7424.368421,115,1.52,659,1199.715190,14740,2724,6,...,0.006319,-187908,0.640985,-111.061053,1.985354,1524.284810,69.700073,158.256728,1127.764411,6.951053
49068,128813,603,7617.888889,1431,0.63,10082,1204.308725,13910,2738,2,...,0.009393,-126075,0.500702,-1427.904444,1.825965,1533.691275,46.826150,106.459413,1180.577027,3.684444
49545,104564,770,10289.300000,894,4.23,7061,1481.188482,14971,2873,11,...,0.014270,-101691,0.519853,-891.316000,1.455007,1391.811518,36.127393,70.074809,1496.020608,3.836000
49624,49036,800,9174.533333,1369,3.18,8621,1419.099010,14679,2866,8,...,0.029420,-46170,0.563738,-1364.962667,1.599972,1446.900990,16.830426,33.990581,1372.265053,8.582667

### Deep Feature Synthesis

In [32]:
# Perform deep feature synthesis without specifying primitives
features, feature_names = ft.dfs(entityset=es, target_entity='clients', 
                                 max_depth = 2)

In [33]:
feature_names

[<Feature: income>,
 <Feature: credit_score>,
 <Feature: MEAN(loans.loan_amount)>,
 <Feature: NUM_UNIQUE(loans.repaid)>,
 <Feature: NUM_UNIQUE(loans.loan_type)>,
 <Feature: COUNT(loans)>,
 <Feature: STD(loans.rate)>,
 <Feature: MODE(payments.missed)>,
 <Feature: MEAN(payments.payment_amount)>,
 <Feature: MAX(loans.loan_amount)>,
 <Feature: MAX(payments.payment_amount)>,
 <Feature: COUNT(payments)>,
 <Feature: MONTH(joined)>,
 <Feature: STD(loans.loan_amount)>,
 <Feature: SKEW(loans.rate)>,
 <Feature: SKEW(payments.payment_amount)>,
 <Feature: STD(payments.payment_amount)>,
 <Feature: NUM_UNIQUE(payments.missed)>,
 <Feature: MIN(payments.payment_amount)>,
 <Feature: MODE(loans.repaid)>,
 <Feature: MAX(loans.rate)>,
 <Feature: MIN(loans.rate)>,
 <Feature: WEEKDAY(joined)>,
 <Feature: SUM(loans.loan_amount)>,
 <Feature: YEAR(joined)>,
 <Feature: SUM(payments.payment_amount)>,
 <Feature: MEAN(loans.rate)>,
 <Feature: MIN(loans.loan_amount)>,
 <Feature: MODE(loans.loan_type)>,
 <Feature: SKEW(loans.loan_amount)>,
 <Feature: DAY(joined)>,
 <Feature: SUM(loans.rate)>,
 <Feature: NUM_UNIQUE(loans.DAY(loan_start))>,
 <Feature: MAX(loans.MIN(payments.payment_amount))>,
 <Feature: MIN(loans.SUM(payments.payment_amount))>,
 <Feature: MIN(loans.STD(payments.payment_amount))>,
 <Feature: STD(loans.MAX(payments.payment_amount))>,
 <Feature: MIN(loans.SKEW(payments.payment_amount))>,
 <Feature: MAX(loans.NUM_UNIQUE(payments.missed))>,
 <Feature: SKEW(loans.STD(payments.payment_amount))>,
 <Feature: SKEW(loans.SUM(payments.payment_amount))>,
 <Feature: MAX(loans.COUNT(payments))>,
 <Feature: MEAN(loans.SUM(payments.payment_amount))>,
 <Feature: NUM_UNIQUE(loans.YEAR(loan_end))>,
 <Feature: MIN(loans.MEAN(payments.payment_amount))>,
 <Feature: NUM_UNIQUE(loans.MODE(payments.missed))>,
 <Feature: MODE(loans.MODE(payments.missed))>,
 <Feature: MEAN(loans.COUNT(payments))>,
 <Feature: MODE(loans.MONTH(loan_end))>,
 <Feature: STD(loans.SKEW(payments.payment_amount))>,
 <Feature: MAX(loans.STD(payments.payment_amount))>,
 <Feature: MODE(loans.MONTH(loan_start))>,
 <Feature: STD(loans.COUNT(payments))>,
 <Feature: NUM_UNIQUE(loans.YEAR(loan_start))>,
 <Feature: MODE(loans.WEEKDAY(loan_start))>,
 <Feature: SUM(loans.SKEW(payments.payment_amount))>,
 <Feature: SKEW(loans.COUNT(payments))>,
 <Feature: MODE(loans.YEAR(loan_end))>,
 <Feature: NUM_UNIQUE(loans.WEEKDAY(loan_end))>,
 <Feature: SKEW(loans.MEAN(payments.payment_amount))>,
 <Feature: MAX(loans.MEAN(payments.payment_amount))>,
 <Feature: NUM_UNIQUE(loans.WEEKDAY(loan_start))>,
 <Feature: SUM(loans.MIN(payments.payment_amount))>,
 <Feature: MODE(loans.WEEKDAY(loan_end))>,
 <Feature: MAX(loans.SKEW(payments.payment_amount))>,
 <Feature: MODE(loans.DAY(loan_end))>,
 <Feature: STD(loans.MIN(payments.payment_amount))>,
 <Feature: MIN(loans.NUM_UNIQUE(payments.missed))>,
 <Feature: NUM_UNIQUE(loans.DAY(loan_end))>,
 <Feature: MIN(loans.MAX(payments.payment_amount))>,
 <Feature: SUM(loans.MEAN(payments.payment_amount))>,
 <Feature: SKEW(loans.MAX(payments.payment_amount))>,
 <Feature: MEAN(loans.SKEW(payments.payment_amount))>,
 <Feature: NUM_UNIQUE(loans.MONTH(loan_start))>,
 <Feature: SUM(loans.STD(payments.payment_amount))>,
 <Feature: STD(loans.SUM(payments.payment_amount))>,
 <Feature: SUM(loans.MAX(payments.payment_amount))>,
 <Feature: STD(loans.MEAN(payments.payment_amount))>,
 <Feature: MODE(loans.DAY(loan_start))>,
 <Feature: MEAN(loans.STD(payments.payment_amount))>,
 <Feature: MEAN(loans.NUM_UNIQUE(payments.missed))>,
 <Feature: NUM_UNIQUE(loans.MONTH(loan_end))>,
 <Feature: MEAN(loans.MIN(payments.payment_amount))>,
 <Feature: SKEW(loans.NUM_UNIQUE(payments.missed))>,
 <Feature: STD(loans.NUM_UNIQUE(payments.missed))>,
 <Feature: MODE(loans.YEAR(loan_start))>,
 <Feature: MIN(loans.COUNT(payments))>,
 <Feature: SKEW(loans.MIN(payments.payment_amount))>,
 <Feature: MAX(loans.SUM(payments.payment_amount))>,
 <Feature: SUM(loans.NUM_UNIQUE(payments.missed))>,
 <Feature: MEAN(loans.MEAN(payments.payment_amount))>,
 <Feature: MEAN(loans.MAX(payments.payment_amount))>]